/* Upload Page */
.upload-container {
    text-align: center;
    margin-top: 50px;
}

.progress-bar {
    width: 500px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px auto;
}

.progress {
    height: 100%;
    background-color: #1e40af;
    transition: width 0.3s;
}